<!-- <ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons> 

    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header titulo="Card"></app-header>

<ion-content>

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio consequatur quibusdam reiciendis aliquam hic. Pariatur quis consectetur eius sequi quidem obcaecati, consequatur, nostrum magni impedit enim ad molestiae. Consectetur, quod?
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates quod provident placeat ad labore a quo, praesentium animi velit, dolore iste sunt, modi laborum nemo rem! Aspernatur tempore ex blanditiis.
    </ion-card-content>
  </ion-card>

</ion-content>
