<app-header titulo="Data Time"></app-header>

<ion-content>

   <ion-list>
    <ion-list-header>
      <ion-label>Datos fecha de nacimiento</ion-label>
    </ion-list-header>
    <ion-item [style.touch-action]="'pan-y'">
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-datetime placeholder="Nacimiento"
                    display-format="YYYY MMMM DD"
                    cancelText="Cancelar !!!"
                    [ngModel]="fechaNaci.toISOString()"
                    (ionChange)="CambioFecha( $event )"></ion-datetime>
    </ion-item>

  </ion-list>


</ion-content>
