<ion-menu side="start" menuId="primerMenu" contentId="main" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle *ngFor="let c of componentes | async" [routerLink]="c.redirectTo">
        <ion-item>
          <ion-icon slot="start" [name]="c.ico"></ion-icon>  
          <ion-label>{{c.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>